/.gradle/
/.idea/
/local.properties
/signing.properties
*.iml
*.jks
*.keystore
#/build/
/build/generated/*
/build/intermediates/*
/build/kotlin/*
/build/kotlinToolingMetadata/*
/build/tmp/*
/debug/
#/release/
#*.apk
*.aab
*.bat